/* .modal-header{
  background-color:white;
  height: 1280px;
  width: 1600px;
} */
/*
  *** fut-player-card styles ***
*/
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
body {
	background-image: url('https://i.pinimg.com/originals/7a/17/e7/7a17e795f2ca9b20b28f60ee142a90cd.jpg');
	font-family: 'Saira Semi Condensed', sans-serif;
	font-weight: 400;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	min-height: 700px;
	background: url("https://media.playstation.com/is/image/SCEA/fifa-19-stadium-background-blur-01-ps4-us-08jun18?$native_nt$") no-repeat center center/cover;
	font-family: "Saira Semi Condensed", sans-serif;
	font-weight: 400;
	background: url("https://user-images.githubusercontent.com/22690563/67150939-14a0b180-f2c7-11e9-8016-a993a397e1c5.jpg") no-repeat center center/cover;
}
head {
	width: 30px;
}
a {
	cursor: pointer;
	color: #707070;
	color: white;
}

#pr{
	margin-left: 10px;
	margin-right: 10px;
}

.nav-links {
	display: flex;
	gap: 10px;
}
.navbar {
	margin-bottom: 1px;
	height: 150px;
}
.card {
	border: none;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
	margin-bottom: 30px;
}
.w-60 {
	width: 60px;
}
.modal-dialog {
	border-top: rgba(0, 0, 0, .05);
}
.modal-content {
	background-color: white;
	height: 1330px;
	width: 1610px;
}
.modal-title {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 50px;
	font-size: 40px;
}
input[type=text] {
	width: 35%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}
.modal-body {
	font-size: 35px;
	font-weight: 600;
	margin-left: 20px;
}
h1 {
	margin: 0 0 10px;
	font-weight: 600;
}
h2 {
	margin: 0 0 10px;
	font-weight: 600;
}
h3 {
	margin: 0 0 10px;
	font-weight: 600;
}
h4 {
	margin: 0 0 10px;
	font-weight: 600;
}
h5 {
	margin: 0 0 10px;
	font-weight: 600;
}
h6 {
	margin: 0 0 10px;
	font-weight: 600;
}
.social-links {
	li {
		a {
			-webkit-border-radius: 50%;
			background-color: rgba(89, 206, 181, .85);
			border-radius: 50%;
			color: #fff;
			display: inline-block;
			height: 30px;
			line-height: 30px;
			text-align: center;
			width: 30px;
			font-size: 12px;
		}
	}
}
i {
	color: white;
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.close {
	font-size: 110px;
}
.wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	min-height: 500px;
}
.fut-player-card {
	position: relative;
	width: 300px;
	height: 485px;
	background-image: url(https://selimdoyranli.com/cdn/fut-player-card/img/card_bg.png);
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 3.8rem 0;
	z-index: 2;
	transition: 200ms ease-in;
	margin-inline: 6px;
	.player-card-top {
		position: relative;
		display: flex;
		color: #e9cc74;
		padding: 0 1.5rem;
		.player-master-info {
			position: absolute;
			line-height: 2.2rem;
			font-weight: 300;
			padding: 1.5rem 0;
			text-transform: uppercase;
			.player-rating {
				font-size: 2rem;
			}
			.player-position {
				font-size: 1.4rem;
			}
			.player-nation {
				display: block;
				width: 2rem;
				height: 25px;
				margin: 0.3rem 0;
				img {
					width: 100%;
					height: 100%;
					-o-object-fit: contain;
					object-fit: contain;
				}
			}
			.player-club {
				display: block;
				width: 2.1rem;
				height: 40px;
				img {
					width: 100%;
					height: 100%;
					-o-object-fit: contain;
					object-fit: contain;
				}
			}
		}
		.player-picture {
			width: 200px;
			height: 200px;
			margin: 0 auto;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				-o-object-fit: contain;
				object-fit: contain;
				position: relative;
				right: -1.5rem;
				bottom: 0;
			}
			.player-extra {
				position: absolute;
				right: 0;
				bottom: -0.5rem;
				overflow: hidden;
				font-size: 1rem;
				font-weight: 700;
				text-transform: uppercase;
				width: 100%;
				height: 2rem;
				padding: 0 1.5rem;
				text-align: right;
				background: none;
				span {
					margin-left: 0.6rem;
					text-shadow: 2px 2px #333;
				}
			}
		}
	}
	.player-card-bottom {
		position: relative;
		.player-info {
			display: block;
			padding: 0.3rem 0;
			color: #e9cc74;
			width: 90%;
			margin: 0 auto;
			height: auto;
			position: relative;
			z-index: 2;
			.player-name {
				width: 100%;
				display: block;
				text-align: center;
				font-size: 1.6rem;
				text-transform: uppercase;
				border-bottom: 2px solid rgba(233, 204, 116, 0.1);
				padding-bottom: 0.3rem;
				overflow: hidden;
				span {
					display: block;
					text-shadow: 2px 2px #111;
				}
			}
			.player-features {
				margin: 0.5rem auto;
				display: flex;
				justify-content: center;
				.player-features-col {
					border-right: 2px solid rgba(233, 204, 116, 0.1);
					padding: 0 2.3rem;
					span {
						display: flex;
						font-size: 1.2rem;
						text-transform: uppercase;
						.player-feature-value {
							margin-right: 0.3rem;
							font-weight: 700;
						}
						.player-feature-title {
							font-weight: 300;
						}
					}
					&:last-child {
						border: 0;
					}
				}
			}
		}
	}
}
