<div id="vi"
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h2 class="h2">Players List</h2>
  <a
    routerLink="/register-student"
    class="btn btn-success"
    *ngIf="hideWhenNoPlayer"
  >
    Add Player
  </a>
</div>

<div  class="pricing-header mx-auto">
  <div class="no-data text-center" *ngIf="preLoader">
    <img src="assets/preloader.gif" class="preloader-icon" alt="No student" />
  </div>

  <div class="no-data text-center" *ngIf="noData">
    <img src="assets/no-student.svg" class="nodata-msg" alt="No student" />
    <p class="nodata-msg">No student added yet!</p>
    <a routerLink="/register-student" class="btn btn-success"> Add Player </a>
  </div>

  <div id="vi" class="table-responsive" *ngIf="hideWhenNoPlayer">
    <table
      class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg"
    >
      <thead>
        <tr>
          <th scope="col">Player Id</th>
          <th scope="col">name</th>
          <th scope="col">Player image</th>
          <th scope="col">Rating</th>
          <th class="text-center" scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let player of playerFromDB
              | paginate: { itemsPerPage: 8, currentPage: p };
            let i = index
          "
        >
          <th scope="row">{{ player.$key }}</th>
          <td>{{ player.name }}</td>
          <td><img id="img" src={{player.playerImg}} alt="Messi" draggable="false"/></td>
          <td>{{ player.rating }}</td>
          <td class="text-center action-block">
            <span
              class="mr-2 btn btn-outline-primary btn-sm"
              routerLink="/edit-student/{{ player.$key }}"
              >Edit</span
            >
            <span
              class="btn btn-outline-danger btn-sm"
              (click)="deletePlayer(player)"
              >Delete</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <pagination-controls  (pageChange)="p = $event"></pagination-controls>

</div>
