<!-- Top navigation -->
<!-- <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/register-student">
    <span class="dasboard-text">Dashboard</span>
  </a>
  <a
              class="nav-link"
              routerLink="/register-student"
              routerLinkActive="active"
            >
              Add Student
            </a>
            <a
              class="nav-link"
              routerLink="/view-students"
              routerLinkActive="active"
            >
              Students List
            </a>
            <a
              class="nav-link"
              routerLink="/table-component"
              routerLinkActive="active"
            >
              Graphic
            </a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" routerLink="/register-student">
        <span
          class="user-image"
          style="background-image: url('assets/user.jpg')"
        ></span>
        Hello Admin
      </a>
    </li>
  </ul>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: grey;">
	<a class="navbar-brand" style="color:white; font-size: 60px; margin-left: 20px; margin-right: 20px;"> Fifa Players Manager</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarColor02">
	   <ul class="navbar-nav mr-auto">
		  <li class="nav-links">
			 
			 <a class="nav-link" (click)="clickButton('/register-student')" style="font-size: 40px;">add</a>
			 <a class="nav-link" (click)="clickButton('/view-students')" style="font-size: 40px;">View</a>
			 <a class="nav-link" (click)="clickButton('/edit-student/:id')" style="font-size: 40px;">Edit</a>
			 <a class="nav-link" (click)="clickButton('/table-component')" style="font-size: 40px;">Table</a>


			 </li>
			 </ul>
			
			
		  
	   
	</div>
  </nav>
  

<router-outlet></router-outlet>
