body {
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


/* * Content */
[role="main"] {
  padding-top: 48px;
}
.dasboard-text {
  border-left: 1px solid rgb(255, 255, 255, 0.3);
  color: rgb(255, 255, 255, 0.5);
  display: inline-block;
  padding: 0 0 0 14px;
  font-size: 15px;
  margin-left: 15px;
  position: relative;
  top: -1px;
}

/* * Navbar */


/* Pagination */
body pagination-template {
  padding: 0;
  margin: 8px 0 0;
  float: left;
  width: 100%;
  text-align: right;
}
body .ngx-pagination li:last-child {
  margin: 0;
}
body .ngx-pagination .current {
  background: #055af9;
}
.ngx-pagination a:hover,
.ngx-pagination button:hover {
  text-decoration: none;
}




/* Form */
label {
  font-weight: 500;
}
.form-control {
  padding: 1.375rem 0.75rem;
}


/* Footer */
footer {
  width: 100%;
  text-align: center;
  padding-bottom: 25px;
  border-top: 1px solid #dee2e6 !important;
  padding-top: 25px;
  margin-top: 50px;
}

/* Responsive */
@media (max-width: 767px) {
  .sidebar {
    position: static;
    padding: 40px 0 10px;
    height: auto;
  }
  .sidebar-sticky {
    height: auto;
  }
  [role="main"] {
    padding-top: 0;
  }
  .inner-adjust {
    padding: 0;
  }
  ul.nav.flex-column {
    flex-direction: inherit !important;
  }
  .pt-3,
  .py-3 {
    padding-top: 1.5rem !important;
  }
  .brand-logo {
    max-width: 175px;
    margin: 0 auto;
    display: block;
  }
  .dasboard-text {
    display: none !important;
  }
  .sidebar-sticky .nav li {
    width: 50%;
    text-align: center;
    border-right: 1px solid #c7ceff;
  }
  .sidebar-sticky .nav li:last-child {
    border: none;
  }
  .no-data img {
    max-width: 100%;
    margin-top: 0;
  }
  .nodata-msg,
  .h2,
  h2 {
    font-size: 1.4rem;
  }
  .custom-text {
    font-size: 14px;
  }
  .navbar-nav {
    float: right;
    width: 50%;
    text-align: right;
    display: inherit;
    margin: 0;
  }
  .navbar-dark .navbar-brand {
    margin: 0;
    width: 50%;
    float: left;
    display: inherit;
  }
  .sidebar {
    padding: 40px 0 15px;
  }
  footer br {
    display: none;
  }
}
